@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Dongle&display=swap');
@import "tailwindcss";

body {
    background: #7fd3ff;
}

.dongle-regular {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cloud-font {
    color: #bae7ff;
    -webkit-text-stroke: 2px #ffffff;
}

.terminal {
    background: #57bcef;
    aspect-ratio: 8 / 1;
}

.circle {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #f00;
    position: absolute;
    inset: 0;
}

.text-accent {
    color: #c4eaff;
}

.text-secondary {
    color: #0a6fa3;
}

.text-primary {
    color: #ebf8ff;
}

.font-monospace {
    font-family: JetBrains Mono, Menlo, Consolas, 'Courier New', monospace;
}

.border-secondary:hover {
    border-color: #0d9ae6;
    background: #5dcbff;
}